@import "./Mixins.scss";


.contact_section {
    position: relative;
    padding-bottom: 90px;
    padding-top: 50px;
    background-color: $bg;
  }
  
  .contact_section .heading_container {
    margin-bottom: 25px;
  }
  
  .contact_section .heading_container h2 {
    text-transform: uppercase;
  }
  
  .contact_section .form_container {
    margin-right: 15px;
  }
  .contact_section{
   p{
    color: $text;
  }
input{
  color: $text;
}
}
  .contact_section .form_container input {
    width: 100%;
    border: none;
    height: 50px;
    margin-bottom: 25px;
    padding-left: 15px;
    outline: none;
    color: #101010;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  }
  
  .contact_section .form_container input::-webkit-input-placeholder {
    color: #04233b;
  }
  
  .contact_section .form_container input:-ms-input-placeholder {
    color: #04233b;
  }
  
  .contact_section .form_container input::-ms-input-placeholder {
    color: #04233b;
  }
  
  .contact_section .form_container input::placeholder {
    color: #04233b;
  }
  
  .contact_section .form_container input.message-box {
    height: 120px;
  }
  
  .contact_section .form_container button {
    border: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 55px;
    background-color: $primary;
    color: #ffffff;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: none;
  }
  
  .contact_section .form_container button:hover {
    background-color: #065968;
  }
  .map_container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    border: 2px solide white;
  }
  .map_container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    border: 3px solid white;
  }
  
 